<div class="col-md-4 box-sortable" data-id="<%= portfolio_item.id %>">
    <div class="card mb-4 box-shadow">
        <%= image_tag portifolio_item.thumb_image, class: "card-img-top", alt: "Card image cap" unless portifolio_item.thumb_image.nil? %>
        <div class="card-body">
            <p class="card-text">
                <span><%= link_to portifolio_item.title, portifolio_show_path(portifolio_item) %></span> <%= portifolio_item.subtitle %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <%= link_to "Edit", edit_portifolio_path(portifolio_item.id), class: "btn btn-sm btn-outline-secondary" if logged_in?(:site_admin) %>
                    <%= link_to 'Destroy', portifolio_item, class: "btn btn-sm btn-outline-secondary",
                                                            method: :delete, 
                                                            data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%# <% link_to portifolio_item.title, portifolio_show_path(portifolio_item)  %>